*.pptx

LitReview/examples
Proposal/examples

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.blg
*.toc

# add .vscode to ignore list
.vscode

# Simulation outputs
*.vvp
*.vcd

# Ignore large files
*.mp4

# Ignore all files in the output directory
bin/